### First Code

In [11]:
print("Hello World")

Hello World

## Variables

In [12]:
a = 10
b = 20

sum = a+b
abc = 10
print(sum)
print(abc)

30
10

## Variables Naming
python variables names can't start with number

In [13]:
ab_2 = 1
_12 = 2

### assining different type of data to a variables

In [2]:
a = 10
a = 20
a = "hthths"
print(a)

hthths

#

In [4]:
type(a)
print(type(a))

<class 'str'>

# Numbers in python

In [5]:
a1 = 10
a2 = 3.2
a3 = 3 - 3j
print(a1)
print(a2)
print(a3)

10
3.2
(3-3j)

## taking input

In [2]:
a  = input()
a
type(a)

23

str

### this "input()" command return string so we need to typecaste to other datatypes

In [ ]:
a = '10'
b  = int(a) 
b

In [ ]:
a = input()
b = input()
s = int(a) + int(b)
print(s)

#### this "int()" command always returns the floor value of the number rather the number is floating point number, double, or any decimal number

### "float(input())" commands helps in taking floating point number as user input

In [2]:
#adding two number
a = int(input())
b = int(input())
s = a + b
print(s)

34
56
90

In [6]:
a = float(input())
type(a)

3.4

float

In [1]:
# simple interest calculate
p = 1000
r = 3
t = 2
si = (p*r*t)//100
print(si)

60

In [3]:
# simpple interest using user input
p = int(input())
r = float(input())
t = int(input())
si = (p*r*t)//100
si

1000
3.9
3

117.0

# Boolean datatypes
boolean has only true or false